@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    font-family: 'Fredoka One', cursive;
}
.rounded{
    border-radius: 30px !important;
}
.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  .card{
      border: none !important;
  }
  .card .card-body > img{
      height: 500px !important;
  }